<div class="contact">
    <div>
        <a class="contact__button" href="hrnandz.angel@gmail.com">
            <div>
                <img src="/assets/img/contact/email.png" width="30px" height="30px">
            </div>
            <span class="contact__text">Email</span>
        </a>
    </div>

    <div>
        <a class="contact__button" href="hrnandz.angel@gmail.com">
            <div>
                <img src="/assets/img/contact/github.png" width="30px" height="30px">
            </div>
            <span>Github</span>
        </a>
    </div>

    <div>
        <a class="contact__button" href="hrnandz.angel@gmail.com">
            <div>
                <img src="/assets/img/contact/linkedin.png" width="30px" height="30px">
            </div>
            <span>LinkedIn</span>
        </a>
    </div>

    <div>
        <a class="contact__button" href="hrnandz.angel@gmail.com">
            <div>
                <img src="/assets/img/contact/behance.png" width="30px" height="30px">
            </div>
            <span>Behance</span>
        </a>
    </div>
</div>