$colors: (
    primary: #292222,
    accent: #ED7D31
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.contactPage {
    height: 400px;
    width: 60%;
    border-radius: 10px;
    background-color: color(primary);
    margin: 90px auto 0 auto;
    text-align: center;
    font-family: Bahnschrift;
    letter-spacing: 1px;

    &__link {
        z-index: 100;
    }

    &__button {
        display: inline-block;
        width: 150px;
        height: 50px;
        background-color: color(accent);
        padding: 10px;
        color: white;
        font-size: 2.5vmin;
        text-align: center;
        border-radius: 5px;
        margin-top: 23px;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }

    &__button:hover {
        background-color: white;
        color: #023a68;
    }
    
    &__text {
        margin-top: -3px;
    }
}