<div class="contactPage">
    <div class="contactPage__link">
        <a class="contactPage__button" href="mailto:hrnandz.angel@gmail.com">
            <div>
                <img src="./assets/img/contact/email.png" width="30px" height="30px">
            </div>
            <span class="contactPage__text">Email</span>
        </a>
    </div>

    <div class="contactPage__link">
        <a class="contactPage__button" href="https://github.com/amhrnandz">
            <div>
                <img src="./assets/img/contact/github.png" width="30px" height="30px">
            </div>
            <span class="contactPage__text">Github</span>
        </a>
    </div>

    <div class="contactPage__link">
        <a class="contactPage__button" href="https://www.linkedin.com/in/angel-hernandez-4bab681a3/">
            <div>
                <img src="./assets/img/contact/linkedin.png" width="30px" height="30px">
            </div>
            <span class="contactPage__text">LinkedIn</span>
        </a>
    </div>

    <div>
        <a class="contactPage__button" href="https://www.behance.net/angelhernandez106">
            <div>
                <img src="./assets/img/contact/behance.png" width="30px" height="30px">
            </div>
            <span class="contactPage__text">Behance</span>
        </a>
    </div>
</div>