// Added font
@font-face {
    font-family: Bahnschrift;
    src: url("/assets/fonts/Bahnschrift.ttf");
}

// Global colors
$portfolio-primary-color: #292222;
$portfolio-secondary-color: #ED7D31;

// Media breakpoints
$grid-breakpoints: (
    def: 320px,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);