$colors: (
    primary: #292222,
    accent: #ED7D31
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin my-background() {
    background-color: #292222;
    width: 100%vw;
}

@font-face {
    font-family: Bahnschrift;
    src: url("/assets/fonts/Bahnschrift.ttf");
}

$grid-breakpoints: (
    def: 0px,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);