.home-header {
    font-family: Bahnschrift;
    color: rgba(255, 255, 255, 0.907);
    letter-spacing: 1px;
    text-align: center;
}

.vertically-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    width: 35%;
    height: 35%;
    float: left;
    margin-left: 20vmin;
    margin-right: 10vmin;
    margin-top: 8vmin;
}

.text {
    justify-content: center;
    text-align: left;
    margin-top: 3vmin;
    margin-left: 100vmin;
}

h1 {
    font-size: 7vmin;
    font-weight: bolder;
    color: rgb(255, 136, 0);
}

h2 {
    margin-top: -2vmin;
    font-family: Calibri;
    font-size: 4.5vmin;
}