$colors: (
    primary: #292222,
    accent: #ED7D31
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.homePage {
    font-family: Bahnschrift;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10vh;

    &__content {

        @include desktop {
            display: flex;
            flex-direction: row;
            width: 75%;
            margin: 50px auto 0 auto;
        }
    }

    &__logo {
        width: 70vmin;
        justify-content: center;
        margin-right: 15px;

        @include desktop {
            float: left;
            margin-right: 20px;
            width: 90vmin;
        }
    }

    &__text {
        width: 70%;
        text-align: center;
        margin: 3vmin auto 0 auto;

        @include desktop {
            float: right;
            text-align: left;
            margin: 15vmin auto 0 auto;
        }
    }
}

h1 {
    font-size: 7vmin;
    font-weight: bolder;
    color: color(accent);
}

h2 {
    margin-top: -2vmin;
    font-family: Calibri;
    font-size: 4.5vmin;
}