@import "~src/app/global";
@import "~bootstrap/scss/bootstrap-grid.scss";

.homePage {
    font-family: Bahnschrift;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10vh;

    &__content {
        display: flex;
        flex-direction: column;
        margin: auto auto;

        @include media-breakpoint-only(def) {
            width: 270px;
        }

        @include media-breakpoint-only(xs) {
            width: 390px;
        }

        @include media-breakpoint-only(sm) {
            width: 500px;
        }

        @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: row;
            margin: 50px auto 0 auto;
            align-items: center;
            gap: 20px;
        }

        @include media-breakpoint-only(md) {
            width: 700px;
        }

        @include media-breakpoint-only(lg) {
            width: 900px;
        }

        @include media-breakpoint-only(xl) {
            width: 1100px;
        }

        @include media-breakpoint-only(xxl) {
            width: 1300px;
        }
    }

    &__logo {
        @include media-breakpoint-between(def, md) {
            width: 100%;
            justify-content: center;
        }

        @include media-breakpoint-only(lg) {
            width: 450px;
            height: 450px;
        }

        @include media-breakpoint-only(xl) {
            width: 550px;
            height: 550px;
        }

        @include media-breakpoint-up(xxl) {
            width: 650px;
            height: 650px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-between(def, md) {
            width: 100%;
            text-align: center;
        }

        @include media-breakpoint-up(md) {
            text-align: left;
            gap: 15px;
        }

        h1 {
            font-family: Bahnschrift;
            font-weight: bolder;
            color: $portfolio-secondary-color;
            margin: 0;

            @include media-breakpoint-only(def) {
                font-size: 25px;
            }

            @include media-breakpoint-only(lg) {
                font-size: 40px;
            }

            @include media-breakpoint-only(xl) {
                font-size: 55px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 60px;
            }
        }

        h2 {
            font-family: Calibri;
            color: white;
            margin: 0;

            @include media-breakpoint-only(def) {
                font-size: 16px;
            }

            @include media-breakpoint-only(lg) {
                font-size: 30px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 40px;
            }
        }
    }
}