$colors: (
    primary: #292222,
    primary-dark: darken(#292222, 2%),
    accent: #ED7D31
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.aboutPage {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }

    &__img {
        width: 65vmin;
        height: 65vmin;
        object-fit: cover;
        border-radius: 50%;
        margin: 30px auto 15px auto;

        @include desktop {
            float: left;
            margin: auto;
            margin-top: 9vh;
        }
    }

    &__card {

        @include desktop {
            margin-right: auto;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 16px auto 0 auto;

        @include desktop {
            margin: 20vmin 5vmin auto 0;
        }
    }

    &__button {
        background-color: color(primary-dark);
        color: color(accent);
        min-height:60px;
        min-width: 150px;

        font-family: Bahnschrift;
        font-weight: bolder;
        font-size: 15px;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;

        border-radius: 10px 10px 0 0;
        border: none;
        margin: auto 7px;
    }

    &__button:hover {
        background-color: color(accent);
        color: white;
        transition: 0.7s;
    }
}