<div class="aboutPage">
    <img src = 'assets/img/momot.jpg' class="aboutPage__img"/>
    <nav class="aboutPage__card">
        <ul class="aboutPage__list">
            <li><button (click) = "changeAboutList('hobbies')"
                class="aboutPage__button">Hobbies</button></li>
            <li><button (click) = "changeAboutList('skills')"
                class="aboutPage__button">Skills</button></li>
        </ul>
        <app-about-me-hobbies-skills [selectedList]="selectedAboutList" ></app-about-me-hobbies-skills>
    </nav>
</div>